/* Các xử lý định dạng cho provider.html */
@import url(start.css);

.providerview{
	height: auto;
}

.providerview-title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
}

/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.providerview .col-md-2{
		text-align: left !important;
		font-weight: bold;
		padding-left: 25px;
	}
	.providerview .col-md-4, .providerview .col-md-9, .providerview .col-md-11{
		padding-left: 25px;
		padding-right: 25px;
	}
}

/*Small devices (landscape phones, 576px and up)*/ 
@media (min-width: 576px) and (max-width: 767.98px) { 
	.providerview .col-md-2{
		text-align: left !important;
		font-weight: bold;
		padding-left: 25px;
	}
	.providerview .col-md-4, .providerview .col-md-9, .providerview .col-md-11{
		padding-left: 25px;
		padding-right: 25px;
	}
}

/*Medium devices (tablets, 768px and up)*/ 
@media (min-width: 768px) and (max-width: 991.98px){ 

}

/*Large devices (desktops, 992px and up)*/ 
@media (min-width: 992px) and (max-width: 1199.98px){ 

}

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) and (max-width: 1399.98px) { 

}

/*XX-Large devices (larger desktops, 1400px and up)*/ 

@media (min-width: 1400px) { 

}